.container-div {
    position: relative ;
    display:  flex;
    gap: .30rem;
}

.container-input {
    padding-right: '30px' ;
}

.container-btn {
    position:   absolute ;
    right:      10px ;
    top:        50% ;
    transform:  translateY(-50%) ;
    background: none ;
    border:     none ;
    cursor:     pointer ;
    /*border-bottom: 2px solid #007bff ; /* Cambiar el color a azul (puedes usar cualquier color) */
    /*background-color: transparent; /* Hacer el fondo transparente si es necesario */
}

.container-btn:hover {
    border-bottom: 2px solid #0056b3; /* Cambiar el color en hover */
}